@tailwind base;
@tailwind components;
@tailwind utilities;

.person {
  /* slide div from the left to the right */
  animation: slide-in-left 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
